.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.env*
*.csv
bank_files/*
.DS_Store
*.txt
*.db
*.env
generated_code/*
*.pdf
.stack-work/*
.stack-work/dist/*
dist-newstyle/*
TAGS
*.vite